doctype html
html
  head
    block title    
    link(rel="icon" type="image/png" href="img/favicon.png")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/common.css')
    block css
    block js
  body
    .topbar.clearfix
      .logo-container
        .logo-wrapper
          h3.logo-text.logo-text-prefix LAUNCH
          img.logo(src='img/rocket.svg')
          h3.logo-text.logo-text-postfix CAMP
      .nav-links
        h4.nav-link
          a(href='index.html') Home
        h4.nav-link
          a(href='about.html') About
        h4.nav-link
          a(href='a_day.html') A Day at Camp
        h4.nav-link
          a(href='team.html') Team
        h4.nav-link.enroll-link
          a(href='signup.html') Enroll
      // only shown on small screens
      .nav-dropdown
        .btn-group
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.menu-button-icon.glyphicon.glyphicon-menu-hamburger(aria-hidden='true')
          ul.dropdown-menu
            li
              a(href='#')
                a(href='index.html') Home
            li
              a(href='#')
                a(href='about.html') About
            li
              a(href='#')
                a(href='a_day.html') A Day at Camp
            li
              a(href='#')
                a(href='team.html') Team

    block content
