/*color pallete http://paletton.com/#uid=3040u0kjQtna0Lmfm-onZq9rkl5*/

#content {	
	position: relative;	
}

.section {
	/*visibility: hidden;*/
	position: relative;
}

.quarter-container {
	margin-top: 40px;
	/*position: relative;
	top: 25%;
  	transform: translateY(-25%);	*/
}

.centered-container {
	position: relative;
	top: 50%;
  	transform: translateY(-50%);	
}

.intro {
	padding: 100px 0 100px 0;
	position: relative;
	height: 400px;
	overflow: hidden;
}

.intro-container {
	background: #EDF9FB;  
  	/*padding: 10px 0px 10px 0px;*/
  	margin-bottom: 20px;
  	/*border: 10px solid #EA6759;*/
  	border-bottom: 5px solid #FF9185;
  	border-top: 5px solid #FF9185;  	
}

.intro-text {
	position: relative;
	z-index: 200;
	color: #404040;
	/*height: 100%;*/	
	font-family: "Josefin Sans";
}

.intro-line-1 {	
	font-weight: 900;	
	font-size: 45px;
	margin-top: 0px;	
	/*position: absolute;	*/
	top: 0px;
	/*width: 100%;*/
	padding-top: 10px;
}

.intro-line-2 {
	font-weight: 900;
	font-size: 60px;
}

.intro-line-3 {
	font-weight: 900;
	font-size: 30px;
	/*position: absolute;	*/
	 bottom: 0px;	
	 /*width: 100%;*/
	 padding-bottom: 10px;
}

.banner-img {	
	width: 100%;	
	z-index: 0;
	position: absolute;
	top: 0px;
}

.banner-img-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgba(237, 249, 251, .75);
	top: 0px;
}

.enroll {	
	margin-top: 40px;
	display: inline;	
	text-align: left;
}

.enroll-link {	
	padding: 10px;
	border-radius: 3px;
	background: #5B9EAA;
	color: white;	
	margin-left: 10px;
	font-size: 24px;
	border: 2px solid white;
}

.enroll-link:hover {
	text-decoration: underline;
	color: white;	
}

.overview-wrapper {	
	text-align: center;
}

.program-overview {
	margin-bottom: 60px
}

.overview-title {
	color: #EC4B75;
}

.problem-intro {
	background: #5B9EAA;	
	color:white;
	padding: 20px 0 20px 0; 	
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*border-top: 2px solid black;*/
}

.problem {
	margin-bottom: 30px;
}

.problem-followup {
	padding: 0px 20px 0px 20px;
}

.explanation-container {	
	margin-bottom: 80px;	
}

/*.skill-headers {
	margin-bottom: 20px
*/}

/*.skill-img-frame {
	overflow: hidden;
	height: 300px;
	position: relative;
*/}

/*.skill-img {
	width: 100%;
	position: relative;
	z-index: 0;		
}

.skill-text {
	position: absolute;
	top:0px;
	z-index: 1000;
}

.skill-img-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 100;
	background: rgba(237, 249, 251, .75);
	top: 0px;
}*/

.next-section-arrow {
	margin-bottom: 0px;
}

.explanation-section {
	margin-top: 80px;
}

.skills-container h4 {
	margin-bottom: 0;
}

.skill-header {	
	margin-top: 0;
}

.skill-header {
	text-decoration: underline;
	color: #EA6759;
	font-weight: 700;
}

.skills-image {
	height: 80px;
	margin: 20px 0 20px 0;
}

.skills-container {
	/*border-top: 2px solid;*/
	/*border-bottom: 2px solid;*/
	background-color: #EDF9FB;
	padding: 10px 20px 20px 20px;
	margin-bottom: 40px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
	/*margin-top: 80px;*/
}

.long-term {	
	margin-bottom: 40px;
}

.enroll-wrapper {
	/*background: #A5D852;*/
	padding: 20px 0 20px 0;
}

.enroll-prompt {
	margin-top: 0px;
	margin-bottom: 0px;	
}

.enroll-prompt-span {
	display: inline-block;
	padding: 10px;
	background: #C2EE7C;	
}

.enroll-container .enroll {
	margin-top: 0px;	
	/*background-color: #E1E2E4;*/	
	padding: 20px 0 20px 0;
}

.enroll-link {	
	display: inline-block;
}

.enroll-container {
	padding-bottom: 80px;
}

/* to be used for img resizing */
@media (max-device-width: 480px) { 
	.intro-text {
		padding: 40px 0 40px 0; 
	}

	.intro-line-1 {			
		font-size: 70px;
	}	

	.intro-line-2{			
		font-size: 90px;
	}	

	.intro-line-3 {			
		font-size: 60px;
	}	

	.intro {
		height: 600px;
	}

	.skills-image {
		height: 200px;
	}

	.skill-header {
		margin-top: 100px;
	}	

	.enroll-link {		
		font-size: 80px;
	}
}