.header-span {
	padding: 10px;
	/*background: #D8F5A9;*/
	background-color: #C2EE7C;
	display: inline-block;
}

.enroll-now {
	margin-top: 10px;
	margin-bottom: 30px;
}

.enroll-now h3 {
	margin-top: 0px;
}

.enroll-now h4 {
	margin-bottom: 0px;
}

.enroll-now-span {
	background: #FF9185;
	padding: 10px;
	display: inline-block;
}

.schedule-box {
	border: 2px solid #90C5CF;	
}

.crunch-time-box {
	border: 2px solid #FF9185;
}

.box-header {
	font-size:23px;
}

.crunch-time-btn, .crunch-time-btn:hover {
	background: #C2EE7C;
	color: black;
	border: none;
}

.crunch-time-btn.focus, .crunch-time-btn.focus:hover {
	background: #699B17;
	color: white;
	border: none;
}

.call-row {
	margin-top: 20px;
}

.session-row {
	margin-bottom: 20px;
}

.signup-container {
	margin-top: 30px;
}

.success-text {
	display: none;
}

.error-text {
	display: none;
	color: darkred;
}

.curtain {
	overflow: hidden;
}


.session-choice {
	display: inline-block;
	margin-bottom: 20px;
	background: #90C5CF;
	color: black;
}

label.error {
	color: darkred;
}

.unenroll-text {
	margin-top: 10px;	
}

.last-item {
	padding-bottom: 80px;
}

@media (max-device-width : 768px)  { 
	.schedule-box {	
		text-align:center;
		margin-bottom: 30px;
	}		
}

@media (max-device-width: 480px) { 
	.box-header {
		font-size: 45px
	}	
}