.header-span {
	padding: 10px;
	background: #D8F5A9;
	display: inline-block;
}

.success-text {
	display: none;
}

.error-text {
	display: none;
	color: darkred;
}

.curtain {
	overflow: hidden;
}

.session-choice {
	display: inline-block;
	margin-bottom: 20px;
}

label.error {
	color: darkred;
}

.unenroll-text {
	margin-top: 10px;
}